body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: #FAFAFA;
}

form textarea {
  width: 100%;
  margin: auto;
  resize: none;
  border: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 24px;
}

form input {
  width: 100%;
  margin: auto;
  resize: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 4px;
}

@media only screen and (max-width: 750px) {
	#submit {
    width: 360px;
  }
  textarea {
    font-size: 16px;
  }
}

submit-button, .close {
  color: black;
  font-size: 34px;
  margin-top: 3px;
  float: right;
  transition: text-shadow .2s ease-in-out, color .2s ease-in-out;
}

button:hover {
  text-shadow: 2px 2px 20px #D1D1D1;
  color: white;
  cursor: pointer;
}
